body {
	background-image: url('back.jpg');
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.main {
	border:3px solid black;
	position: absolute;
	left: 600px;
	top: 250px;
}

h1 {
	background-color:DodgerBlue;
	color:green;
}

.main_input {
	width:300px;
	color:LightGray;
}
